[Desktop Entry]
Categories = 
File = /home/root/Documents/application/x-aucr-alphabet/defaultalphabet.alf
Icon = aucreditalphabet
Name = defaultAlphabet
Type = application/x-aucr-alphabet
